/*-- Default --*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
    font-family: sans-serif;
    font-family: 'Cairo', sans-serif;
    font-size: 16px;
}
a{
    color: black;
    text-decoration: none;
}
header{
    height: 64px;
    display: flex;
    flex-direction: row;    
}
main {
    display: flex;
    background-color: rgb(189, 184, 184);
}
/*-- NAVBAR --*/
nav{
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
}
.nav-logo-title{
    font-size: 32px;
}
#title{
    color: grey;
}
.nav-logo{
    display: flex;
    padding-left: 24px;
    align-items: center;

}
.nav-logo-img{
    padding-top: 10px;
    align-items: center;
}
.nav-links{
    display: flex;
    float: right;
    align-items: center;
    margin: 8px;
    padding-right: 0;
}
.nav-items{
    padding: 8px;
    text-align: right;
}
#nav-items-right{
    padding-right: 24px;
}
.nav-icon{
    display: none;
}
.nav-icon ul{
    display: flex;
    list-style-type: none;
}
li{
    padding-right: 40px;
}
/*-- NAVBAR --*/

@media all and (max-width: 768px) {

    nav .nav-icon{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        background: none;
    }
    .nav-icon ul{
        align-items: center;
        width: 100%;
        justify-content: space-between;        
    }
    li{
        padding-top: 10px;
        width: 25%;
        align-content: center;    
        text-align: center;   
    }
    img{
        height: 50px;
        width: 50px;

    }
    .nav-logo{
    display: none;
    }
    .nav-links{
        display: none;
    }

}
/*-- NAVBAR --*/

/*-- BOX-1 --*/

.box1{
    display: flex;
    width: 60%;
}

.box1-img{
    display: flex;
    padding: 32px 24px;
}
.box1-img img{
    width: 100%;
}
.box1-text{
    display: block;
    padding: 32px 0;
    height: auto;
    width: 40%;
    padding-top: 8em;
}
.box1-text p{
    font-size: 40px;
    line-height: 1.2;
}
#s-text{
    font-size: 22px;
}
a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #464141;
    background-color: #464141;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    text-decoration:none;
    font-weight: 5px;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.5s;
    width: 60%;
    }
    a.button1:hover{
    color:#000000;
    background-color:#9ff784;
    }
    
    @media all and (max-width: 768px) {
        main{
            display: flex;
            flex-wrap: wrap;
        }
        .box1{
            display: none;
        }
        .box1-m{
            display: block;
            padding: 0 0;
            height: 500px;
            width: 100%;
        }
        .box1 img{
            height: 100%;
            padding: 0 0;
        }
        .box1-text{
            display: none;
        }
        .box1-text-m{
            width: 100%;
            display: block;
            padding:32px 16px;
            text-align: center;
        }       
    }
        
/*-- BOX-1 --*/
/*-- BOX-2 --*/
.box2{
    display: flex;
    width: 100%;
    border:3px solid #464141;
}

.box2-img{
    display: flex;
    flex-wrap: wrap;
    padding: 32px 0;
    padding-left: 24px;
    width: 60%;
}

.box2-img img{
    width: 100%;
    height: auto;
}

.box2-img-text{
    padding-top: 32px;
    padding-bottom: 24px;
    font-size: 20px;

}
.box2-img-text p{
    font-size: 12px;
}

.box2-items{
    margin: 32px 16px;
    width: 40%;
}
.box2-item-1{
    display: flex;
    text-align: left;
    padding: 0 16px;
    padding-bottom: 16px;
    width: 100%;
    border-bottom:1px solid grey;

}
.box2-item-2{
    display: flex;
    padding: 16px 16px;
    width: 100%;
    border:1px solid grey;

}
.box2-item-3{
    display: flex;
    padding: 16px 16px;
    width: 100%;
    border:1px solid grey;
    background-color: rgb(209, 204, 204);
}

.box2-item-1 img{
    width: 35%;
    height: auto;
}
.box2-item-2 img{
    width: 35%;
    height: auto;
}
.box2-item-3 img{
    width: 35%;
    height: auto;
}

.box2-item-text{
    padding: 35px 16px;

}

.box2-item-title{
    font-size: 26px;
}

.box2-item-read{
    color: blue;
}
.box2-item-date{
    padding: 8px 0;
}
.box2-item-1-mobile{
    display: none;
}

@media all and (max-width: 768px) {

    .box2-img{
        display: none;
    }

    .box2-items{
        display: block;
        margin: 16px 16px;
        width: 100%;
    }

    .box2-item-1, .box2-item-2, .box2-item-3{      
        display: block;
        width: 100%;
        background-color: white;
    }
    .box2-item-1-img{
        display: none;
    }

    .box2-item-1-mobile{
        display: flex;
        width: 100%;
    }

    .box2-item-1 img{
        width: 100%;
        height: auto;
    }
    .box2-item-2 img{
        width: 100%;
        height: auto;
    }
    .box2-item-3 img{
        width: 100%;
        height: auto;
    }
    .box2-item-text{
        text-align: center;
    }
    .box2-item-3, .box2-item-2, .box2-item-1{
        border: none;
    }





}
/*-- BOX-2 --*/

/*-- BOX-3 --*/
.box3{
    background-color: #D3D3D3;
}

.box3-title{
    text-align: center;
    font-size: 30px;
    padding: 32px 0;
}

.box3-flex-box{
    display: flex;
    flex-wrap: wrap;
    padding: 0 72px;
    width: 100%;
    justify-content: space-between;
}

.box3-flex-box-items{
    height: auto;
    width: 25%;
    margin: 32px 32px;
    background-color: white;

}

.box3-flex-box-items-img img{
    width: 100%;
    height: auto;
    
}
.flex-box-title{
    font-size: 24px;
}
.flex-box-font{
    padding-bottom: 24px;
    padding-left: 10px;
}
.box-flex-box-label{
    font-size: 32px;
    display: none;
}

@media all and (max-width: 768px) {
    .box3{
        display: block;
        background-color: white;
        padding-bottom: 32px;

    }
    .box3-title{
        padding: 0 0;
    }
    .box3-flex-box-items{
        display: none;
    }

    .box-flex-box-label{
        font-size: 32px;
        display: block;
        padding: 16px 0 24px 16px;
        margin: 0 10px;
        margin-bottom: 8px;
        background-color: #D3D3D3;
    }

}
/*-- BOX-3 --*/


/*-- BOX-4 --*/
.box4{
    width: 100%;
    border:3px solid #464141;
}
.box4-title{
    text-align: center;
    font-size: 24px;
    padding: 32px 0;
}

.box4-flex-box{
    display: flex;
    padding: 0 24px 24px 24px;
}

.box4-video{
    width: 60%;
}

video{
    width: 100%;
}
.box4-info{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 60%;
    margin: 0 auto;

}
.box4-info-item{
    display: flex;
    width: 100%;
    height: auto;
}
.box4-info-img{
    padding: 0 16px;
    width: 35%;
    height: auto;
}
.box4-info-img img{
    width: 100%;
    height: auto;
}
.box4-info-text{
    text-align: left;
    padding-top: 10%;
    padding-left: 16px;
    font-size: 24px;
}
.box4-video p{
    font-size: 24px;
    padding-bottom: 32px;
}

@media all and (max-width: 768px) {

    .box4-info{
        display: none;
    }

    .box4-video{
        width: 100%;
    }


    .box4-flex-box{
        padding: 0 0;
    }
    .box4-video p{
        display: none;
    }
    .footer-font-right{
        display: none;  
    }
    .footer-font-flex{
        padding-bottom: 16px;
    }

}

/*-- BOX-4 --*/

/*--footer --*/

.footer-font-flex{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid grey;
}

/*--footer --*/
